body {
    background: #fff url('../images/bg.png') 0 0 repeat;
}

.feed-title {
    color: #025aa5 !important;
}

input {
    font-family: monospace;
}

.jumbotron {
    max-width: 480px;
    margin-top: 2em;
    background: #ffffff;
}

.large-main {
    max-width: 700px;
}

.select-group {
    padding: 0;
}

.select-item {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.height150 {
    height: 150px;
}

.articleheading {
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

.greyheading {
  text-decoration: none;
  font-size: 1.2rem;
  color: #777;
}

.greytext {
  color: darkgrey;
}

.bullet {
    display: list-item;
    list-style-position: inside;
}

.date {
    font-size: 1rem;
    font-style: italic;
    color: darkgrey;
}

.displayinline {
  display: inline;
}

.greybox {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
}

.borderbox {
    border: solid 1px #eee;
    padding: 10px;
    border-radius: 5px;
}

.borderboxblack {
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}

.whitebackground {
  background-color: white;
}

.document {
    background: url(../images/file_doc.png) no-repeat;
    padding-left: 45px;
}

ul.commentlist {
    padding-left: 0;
}

.articlelisting {
  margin-bottom: 10px;
}

.articlelisting p {
  margin-bottom: 0;
}

p.articlelink {
  font-size: .9rem;
}

p.articlelink a {
  /*color: darkgrey;*/
}

.user {
  font-size: .8rem;
}

.user small {
  color: grey;
}

.articletable {
  font-size: .8rem;
}

/* Allow scrollbars to always show in OS X */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.big-text{
    display: block;
    width: 20rem;
    height: 20rem;
    font-size: 6.0rem;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: tomato;
}

.big-text > p {
    margin-bottom: 0rem;
}

.big-text-subtitle {
    font-size: 1.15rem;
}

.big-text-subtitle > a {
    color: white;
}

/* BEGINS 18F Alert component CSS
   with minor edits. */

.usa-alert {
    background-color: #f1f1f1;
    background-position: 1rem 2rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    margin-top: 0.5em;
    padding: 1.5em;
}
@media screen and (min-width: 600px) {
    .usa-alert {
        background-size: 4.2rem;
        background-position: 1rem 1rem;
    }
}
.usa-alert ul {
    margin-bottom: 0;
    margin-top: 1em;
}

.usa-alert-icon {
    display: table-cell;
    padding-right: 1rem;
}

.usa-alert-body {
    display: table-cell;
    padding-left: 2.5rem;
    vertical-align: top;
}
@media screen and (min-width: 600px) {
    .usa-alert-body {
        padding-left: 6rem;
    }
}

.usa-alert-heading {
    margin-bottom: .3rem;
    margin-top: 0; }
@media screen and (min-width: 600px) {
    .usa-alert-heading {
        margin-top: .3rem;
    }
}

.usa-alert-text {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.usa-alert-success {
    background-color: #e7f4e4;
    background-image: url("../images/alerts/success.png");
    /*background-image: url("../images/alerts/success.svg"); */
}

.usa-alert-warning {
    background-color: #fff1d2;
    background-image: url("../images/alerts/warning.png");
    /*background-image: url("../images/alerts/warning.svg"); */
}

.usa-alert-error {
    background-color: #f9dede;
    background-image: url("../images/alerts/error.png");
    /*background-image: url("../images/alerts/error.svg"); */
}

.usa-alert-info {
    background-color: #e1f3f8;
    background-image: url("../images/alerts/info.png");
    /*background-image: url("../images/alerts/info.svg"); */
}

.usa-alert-no_icon {
    background-image: none;
}

img.welcome-logo {
    margin: 0 auto;
    display: block;
}


.nav-link, .feed-title
{
  font-size: 30px;
  color: #a1a1a1;
}

.nav-link:hover, .nav-link:active
{
  color: #0a6700 !important;
}
