body {
    background: #fff url('../images/bg.png') 0 0 repeat;
}

input {
    font-family: monospace;
}

.jumbotron {
    max-width: 480px;
    margin-top: 2em;
    background: #ffffff;
}

.largemain {
    max-width: 700px;
}

.select-group {
    padding: 0;
}

.select-item {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.height150 {
    height: 150px;
}

.articleheading {
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

.greyheading {
  text-decoration: none;
  font-size: 1.2rem;
  color: darkgrey;
}

.greytext {
  color: darkgrey;
}

.bullet {
    display: list-item;
    list-style-position: inside;
}

.date {
    font-size: 1rem;
    font-style: italic;
    color: darkgrey;
}

.displayinline {
  display: inline;
}

.greybox {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
}

.borderbox {
    border: solid 1px #eee;
    padding: 10px;
    border-radius: 5px;
}

.borderboxblack {
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}

.document {
    background: url(../images/file_doc.png) no-repeat;
    padding-left: 45px;
}

ul.commentlist {
    padding-left: 0;
}

.articlelisting {
  margin-bottom: 10px;
}

.articlelisting p {
  margin-bottom: 0;
}

p.articlelink {
  font-size: .9rem;
}

p.articlelink a {
  color: darkgrey;
}

.user {
  font-size: .8rem;
}

.user small {
  color: grey;
}

.articletable {
  font-size: .8rem;
}

/* Allow scrollbars to always show in OS X */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.big-text{
    display: block;
    width: 16rem;
    height: 16rem;
    font-size: 6.5rem;
    line-height: 7rem;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: tomato;
}